/*** Student Assessment Preview ***/
body {
	overflow: auto;
}

#wrapper {
	margin: 0;
}

#preview-header {
	position: relative;
	width: 600px;
	height: 40px;
	line-height: 40px;
	background-color: #333;
	color: #fff;
}

#preview-header h2 {
	font-size: 1.2em;
}

#preview-content {
	display: block;
	width: 600px;
	background-color: #fff;
}

#preview-footer {
	position: relative;
	width: 600px;
	height: 40px;
	line-height: 40px;
	background-color: #333;
	color: #fff;
	font-size: .8em;
}

.subject-info {
	font-size: 1.1em;
}

.obs-hdr {
	position: relative;
	padding: .5em 1em;
	color: #333;
	background-color: #DBE9F7;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

.obs-hdr h3 {
	font-size: 1em;
}

.obs-score {
	position: absolute;
	top: .5em;
	right: 0;
	width: 12%;
}

.obs-title {
	display: block;
	width: 85%;
	color: #333;
}

.obs-criteria li {
	padding: .5em 0;
}

.criteria-entry {
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	padding: 5px;
	font-size: .8em;
    overflow-x: auto;
}

.last-entry {
	border-top: 1px solid #333;
	height: 0px;
}
